In [40]:
import pandas as pd
import numpy as np
from word2number import w2n

ModuleNotFoundError: No module named 'word2number'

In [32]:
df = pd.read_csv("hiring.csv")
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [33]:
df.experience = df.experience.fillna("Zero")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       Zero                    8.0                           9      50000
1       Zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [34]:
df['test_score(out of 10)'].median()

8.0

In [35]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(8.0)

In [36]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       Zero                    8.0                           9      50000
1       Zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [37]:
df.isnull().sum()

experience                    0
test_score(out of 10)         0
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [39]:
df.experience = df.experience.apply(w2n.word_to_num)

NameError: name 'w2n' is not defined

In [21]:
from sklearn.linear_model import LinearRegression

In [23]:
reg = LinearRegression()
reg.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], df['salary($)'])

ValueError: could not convert string to float: 'Zero'