In [1]:
import pandas as pd
df = pd.read_csv("nyc_weather.csv")

In [2]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [3]:
df['Temperature'].max()

50

In [4]:
df['EST'][df['Events']=="Rain"]

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [5]:
df['WindSpeedMPH'].mean()

6.892857142857143

## The Process of cleaning data is called data munging or data wrangling ##

In [12]:
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

KeyError: 'WindSpeedMPH'

In [15]:
df = pd.read_csv("stock_data.csv", na_values = {
    'eps' : ['not available', 'n.a.'],
    'revenue' : ['not available', 'n.a.', -1],
    'people' : ['not available', 'n.a.']
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [16]:
df.isnull().sum()

tickers    0
eps        1
revenue    1
price      0
people     1
dtype: int64

In [17]:
df.to_csv("new.csv")