In [1]:
rent = 12220
print(rent)

12220

In [2]:
gas = 202.56
groceries = 305.6
total = rent+gas+groceries

In [3]:
print(total)

12728.16

In [4]:
item1 = "rent"
item2 = "groceries"
item3 = "gas"
print(item1, item2, item3)

rent groceries gas

In [5]:
gas = 455.893383
round(gas, 2)

455.89

In [6]:
text = "ice cream"
print(text)

ice cream

In [7]:
text[0]

'i'

In [8]:
text[1]

'c'

In [9]:
text[1:]

'ce cream'

In [12]:
text[0:3]

'ice'

## Strings are imutable in python ##

In [13]:
text[4:9]

'cream'

In [14]:
text[:7]

'ice cre'

## To convert a number into string ##

In [15]:
num = 23
str(num)

'23'

In [19]:
print(text +'-'+str(num))

ice cream-23

## Lists in python ##

In [20]:
items = ["bread","pasta","fruits","vegetables"]
print(items)

['bread', 'pasta', 'fruits', 'vegetables']

## Lists in python are mutable ##

In [21]:
## example ## 
items[0]  ="chips"
print(items)

['chips', 'pasta', 'fruits', 'vegetables']

In [22]:
items[0:2]

['chips', 'pasta']

In [23]:
items[-1]

'vegetables'

In [24]:
## if we have to add something in list we can add by  using append command ##
items.append("butter")

In [25]:
items

['chips', 'pasta', 'fruits', 'vegetables', 'butter']

In [28]:
## if we have to append at our desired index then we use insert command ##
items.insert(1, "coldrinks")
print(items)

['chips', 'coldrinks', 'coldrinks', 'butter', 'pasta', 'fruits', 'vegetables', 'butter']

In [29]:
len(items)

8

## If and Else statement in python ##

In [32]:
num = input("Enter a number: ")
num = int(num)
if num%2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Enter a number: 3
Odd Number

## For loop in Python ##

In [34]:
expenses = [2340, 2500, 2100, 3100, 2500, 2900]
total = 0
for items in expenses:
    total += items
print(total)

15440

In [35]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [38]:
for i in range(len(expenses)):
    print("Month: ",(i+1), "Expenses: ",expenses[i])
    total += expenses[i]
print("total: ",total)

Month:  1 Expenses:  2340
Month:  2 Expenses:  2500
Month:  3 Expenses:  2100
Month:  4 Expenses:  3100
Month:  5 Expenses:  2500
Month:  6 Expenses:  2900
total:  61760

In [39]:
for i in range(1,6):
    if i%2==0:
        continue
    print(i*i)

1
9
25

## Functions : Functions are a block of code that perform a specific task ##

In [42]:
## Examples ##
def calculate_total(exp):
    total = 0
    for i in exp:
        total += i
    return(total)

A_list = [2100, 3000 ,4500, 6500]
B_list = [340, 567]

A_total_list = calculate_total(A_list)
B_total_list = calculate_total(B_list)

In [43]:
print(A_total_list)
print(B_total_list)

16100
907

## Dictionaries allows you to store key value pair ##

## Also known as Maps, HashTables and associated arrays ##

In [1]:
d = {"tom":839434984, "rob": 894314141, "harsh": 984332413}
print(d)

{'tom': 839434984, 'rob': 894314141, 'harsh': 984332413}

In [2]:
d["tom"]

839434984

## Here tom is the key and the value is the pair ##

## If we want to add a new key pair in a dictionary ##

In [3]:
d["sam"] = 40397295
d

{'tom': 839434984, 'rob': 894314141, 'harsh': 984332413, 'sam': 40397295}

## If we want to delete any key pair from dictionary we use del command ##

In [4]:
del d["sam"]

In [5]:
d

{'tom': 839434984, 'rob': 894314141, 'harsh': 984332413}

In [9]:
for i in d:
    print("Key:",i,"value:",d[i])

Key: tom value: 839434984
Key: rob value: 894314141
Key: harsh value: 984332413

## By using tuples ##

In [10]:
for k,v in d.items():
    print("Key:",k,"value:",v)

Key: tom value: 839434984
Key: rob value: 894314141
Key: harsh value: 984332413

In [11]:
"harsh" in d

True

In [12]:
"tom" in d.items()

False

In [13]:
d.clear()

In [14]:
d

{}

## Tuples is a list of values grouped together ##

## Difference between list and tuples is that , list have the similar meaning (homogenous) and tuples have different meaning (heterogenous)

In [15]:
## Example of tuple ##

In [16]:
point = (5,9)
point[1]

9

## Tuples are also immutable ##

## In python Modules is a way to reuse a code written by someone else ##

In [18]:
import calendar

In [19]:
cal = calendar.month(2016,1)
print(cal)

    January 2016
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [20]:
import math

In [21]:
math.sqrt(16)

4.0

In [22]:
calendar.isleap(2016)

True

In [23]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

## Exceptions are the errors detected at the time of program execution ##

In [24]:
## Example ##
x = input("Enter a number: ")
y = input("Enter a number: ")
try:
    z = int(x) / int(y)
except Exception as e:
    print("Exception occured: ",e)
    z = None
print("Divison is: ",z)

Enter a number: 1
Enter a number: 0
Exception occured:  division by zero
Divison is:  None